@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: tomato;
    border-bottom: 1px solid black;
}

nav > a {
    color: white;
}

main {
    padding: 16px 50px;
    margin-bottom: 5%;
}

h1 {
    color: darkgreen;
}

main > div {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    font-size: smaller;
}

div > a {
    color: green;
}

.ingredient-table {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: repeat(5,auto);
}

.ingredient-table tr:nth-child(2n+3) {
    background-color: lightgray;
}

.table-title td {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 24px 0;
    padding-left: 30px;
    background-color: rgba(126, 223, 115, 0.9);
}

img {
    height: 200px;
    margin-top: 30px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover{
    color:green
}

ol > li {
    margin-left: 30px;
}
